* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.ReactModal__Content--after-open {
  width: 328px !important;
  height: fit-content !important;

  border-radius: 8px !important;
  border: none !important;

  padding: 0 !important;

  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.w-100 {
  width: 100%;
}

.w-85 {
  width: 85%;
}

.flex {
  display: flex;
}

.contents-center {
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fixed {
  position: fixed;
}

.b-0 {
  bottom: 0;
}

.b-108 {
  bottom: 6.75rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mt-30 {
  margin-top: 30px;
}

.mt-75 {
  margin-top: 75px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 1.125rem;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-33 {
  margin-bottom: 33px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-73 {
  margin-bottom: 73px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-83 {
  margin-bottom: 83px;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.max-w-28 {
  max-width: 28rem;
}

/* swiper */

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px !important;
  margin-top: 40px;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #111111 !important;
}

/* Ruquired */
.required {
  position: relative;
}

.required::before {
  position: absolute;
  left: -8px;
  top: -6px;
  content: "*";
  color: #ff7283;
  font-size: 16px;
}
